@tailwind base;
@tailwind components;
@tailwind utilities;


/* main {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Caspar_David_Friedrich_-_Das_Eismeer_-_Hamburger_Kunsthalle_-_02.jpg/440px-Caspar_David_Friedrich_-_Das_Eismeer_-_Hamburger_Kunsthalle_-_02.jpg");
  background-size: cover; 
  filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
} */
